@tailwind base;
@tailwind components;
@tailwind utilities;

.titulo {
    background-color: #FF0000;
    color: white;
    border-radius: 10px;
    padding: 7px;
    opacity: 0; 
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 0.5s; 
    animation: slideDown 2s ease-in-out; /* Duración y tipo de animación */
    opacity: 0; /* Asegúrate de que comience invisible */
    animation-fill-mode: forwards; /* Mantiene el estado final */
}

@keyframes slideDown {
    0% {
      transform: translateY(-50%); /* Empieza fuera de la vista, por encima */
      opacity: 0; /* Invisible al inicio */
    }
    100% {
      transform: translateY(0); /* Posición original */
      opacity: 1; /* Totalmente visible */
    }
  }
@keyframes fadeIn {
    0% {
        opacity: 0; /* Comienza invisible */
    }
    100% {
        opacity: 1; /* Termina visible */
    }
}

@font-face {
  font-family: 'hoefler';
  src: url('/assets/blog/fonts/ufonts.com_hoefler-text-black-italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Impact';
  src: url('/assets/blog/fonts/Impact.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

.text-border {
  -webkit-text-stroke: 2px black; /* Borde de 2px de color negro */
  color: white;
}